<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'SETTINGS.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'BUTTON.CLOSE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>{{ 'SETTINGS.LANGUAGE' | translate }}</ion-label>
      <ion-select [(ngModel)]="selectedLanguage">
        <ion-select-option *ngFor="let l of languages" [value]="l.value">{{ l.label }}</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="actions">
      <ion-button expand="block" (click)="saveAndClose()">{{ 'BUTTON.APPLY' | translate }}</ion-button>
    </div>
  </ion-list>
</ion-content>
