<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista-tareas"></ion-back-button>
    </ion-buttons>
    <ion-title>Papelera</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-content>

    <h3>Enviar informe mensual</h3>
    <p>Descartado hace 5 minutos</p>

    <ion-badge color="success">Baja</ion-badge>

  </ion-card-content>
</ion-card>
<ion-content class="ion-padding">

  <ion-item>
    <ion-label>
      <h2>Tarea eliminada</h2>
      <p>Se puede recuperar</p>
    </ion-label>

    <ion-button color="success">Restaurar</ion-button>
    <ion-button color="danger">Eliminar</ion-button>
  </ion-item>

</ion-content>
