<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista-tareas"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'SETTINGS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>{{ 'SETTINGS.LANGUAGE' | translate }}</ion-label>
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="onLanguageChange($event.detail.value)">
        <ion-select-option *ngFor="let l of languages" [value]="l.value">{{ l.label }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
