<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi recordatorio</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/nueva-tarea">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-button expand="block" routerLink="/historial">HISTORIAL</ion-button>
<ion-button expand="block" routerLink="/papelera">PAPELERA</ion-button>
<ion-button expand="block" routerLink="/calendario">CALENDARIO</ion-button>

  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="all">
      <ion-label>Todas</ion-label>
    </ion-segment-button>

    <ion-segment-button value="priority">
      <ion-label>Prioridad Alta</ion-label>
    </ion-segment-button>

    <ion-segment-button value="completed">
      <ion-label>Completadas</ion-label>
    </ion-segment-button>
  </ion-segment>

 <ion-card *ngFor="let task of tasks">

  <ion-card-content class="task-card-content">

    <!-- IZQUIERDA -->
    <div class="task-left">

      <ion-checkbox [checked]="task.completed" (ionChange)="toggleComplete(task)"></ion-checkbox>

      <div>
        <h2 [ngClass]="{ 'tachado': task.completed }">
          {{ task.title }}
        </h2>

        <p>{{ task.date | date:'shortDate' }} - {{ task.status }}</p>
      </div>

    </div>

    <!-- DERECHA -->
    <div class="task-right">

      <ion-badge 
        [color]="task.priority === 'Alta' ? 'danger' : 
                 task.priority === 'Media' ? 'warning' : 'success'">
        {{ task.priority }}
      </ion-badge>

      <ion-button fill="clear" [routerLink]="['/editar-tarea', task.id]">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="danger" (click)="deleteTask(task)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>

    </div>

  </ion-card-content>

</ion-card>

</ion-content>