<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista-tareas"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Tarea</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">

  <ion-item>
    <ion-label position="stacked">Título de la Tarea</ion-label>
    <ion-input [(ngModel)]="newTask.title" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="newTask.description" placeholder="Descripción de la tarea..."></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Fecha Límite</ion-label>
    <ion-datetime
      [(ngModel)]="newTask.date"
      presentation="date-time"
      [min]="minDate"
      locale="es-ES"
      display-format="DD/MM/YYYY HH:mm"
      picker-format="DD MM YYYY"
      show-default-buttons="true">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Prioridad</ion-label>
    <ion-select [(ngModel)]="newTask.priority" translate="no">
      <ion-select-option value="Baja" translate="no">Baja</ion-select-option>
      <ion-select-option value="Media" translate="no">Media</ion-select-option>
      <ion-select-option value="Alta" translate="no">Alta</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" color="primary" style="margin-top:20px;" (click)="voiceInput()">
    Entrada por Voz
  </ion-button>
  <ion-button expand="block" color="success" style="margin-top:20px; margin-bottom:40px;" (click)="saveTask()">
    GUARDAR
  </ion-button>
</ion-content>