<ion-header>
    <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista-tareas"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'NEW.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">

  <ion-item>
    <ion-label position="stacked">{{ 'NEW.TASK_TITLE_LABEL' | translate }}</ion-label>
    <ion-input [(ngModel)]="newTask.title" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'NEW.DESCRIPTION_LABEL' | translate }}</ion-label>
    <ion-textarea [(ngModel)]="newTask.description" placeholder="{{ 'NEW.DESCRIPTION_PLACEHOLDER' | translate }}"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'NEW.DUE_DATE_LABEL' | translate }}</ion-label>
    <ion-datetime
      [(ngModel)]="newTask.date"
      presentation="date-time"
      [min]="minDate"
      [locale]="locale"
      display-format="DD/MM/YYYY HH:mm"
      picker-format="DD MM YYYY HH mm"
      show-default-buttons="true">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'NEW.NOTIFY_BEFORE_LABEL' | translate }}</ion-label>
    <div style="display:flex; gap:8px; align-items:center; width:100%;">
      <ng-container>
        <ion-select [(ngModel)]="newTask.notifyUnit" interface="popover" style="width:140px;">
          <ion-select-option value="hours">{{ 'UNIT.HOURS' | translate }}</ion-select-option>
          <ion-select-option value="days">{{ 'UNIT.DAYS' | translate }}</ion-select-option>
        </ion-select>

        <ion-select *ngIf="newTask.notifyUnit === 'hours'" [(ngModel)]="newTask.notifyAmount" interface="popover" style="width:110px;">
          <ion-select-option [value]="1">1</ion-select-option>
          <ion-select-option [value]="2">2</ion-select-option>
          <ion-select-option [value]="3">3</ion-select-option>
          <ion-select-option [value]="4">4</ion-select-option>
          <ion-select-option [value]="6">6</ion-select-option>
          <ion-select-option [value]="12">12</ion-select-option>
          <ion-select-option [value]="24">24</ion-select-option>
        </ion-select>

        <ion-select *ngIf="newTask.notifyUnit === 'days'" [(ngModel)]="newTask.notifyAmount" interface="popover" style="width:110px;">
          <ion-select-option [value]="1">1</ion-select-option>
          <ion-select-option [value]="2">2</ion-select-option>
          <ion-select-option [value]="3">3</ion-select-option>
          <ion-select-option [value]="7">7</ion-select-option>
          <ion-select-option [value]="14">14</ion-select-option>
          <ion-select-option [value]="30">30</ion-select-option>
        </ion-select>
      </ng-container>
    </div>
    <ion-note slot="helper">{{ 'NEW.NOTIFY_BEFORE_HELPER' | translate }}</ion-note>
  </ion-item>

  <ion-item>
    <ion-label>{{ 'NEW.PRIORITY_LABEL' | translate }}</ion-label>
    <ion-select [(ngModel)]="newTask.priority">
      <ion-select-option value="Baja">{{ 'PRIORITY.BAJA' | translate }}</ion-select-option>
      <ion-select-option value="Media">{{ 'PRIORITY.MEDIA' | translate }}</ion-select-option>
      <ion-select-option value="Alta">{{ 'PRIORITY.ALTA' | translate }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" color="success" style="margin-top:20px; margin-bottom:40px;" (click)="saveTask()">
    {{ 'BUTTON.SAVE' | translate }}
  </ion-button>
</ion-content>