<ion-header>
  <ion-toolbar color="success">
    <ion-title>{{ 'LOGIN.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item *ngIf="!isRegisterMode">
    <ion-label position="floating">{{ 'LOGIN.USER' | translate }}</ion-label>
    <ion-input [(ngModel)]="loginData.username" required></ion-input>
  </ion-item>

  <ion-item *ngIf="isRegisterMode">
    <ion-label position="floating">{{ 'LOGIN.USER' | translate }}</ion-label>
    <ion-input [(ngModel)]="registerData.username" required></ion-input>
  </ion-item>

  <ion-item *ngIf="isRegisterMode">
    <ion-label position="floating">{{ 'LOGIN.EMAIL' | translate }}</ion-label>
    <ion-input [(ngModel)]="registerData.email" type="email" required></ion-input>
  </ion-item>

  <ion-item *ngIf="!isRegisterMode">
    <ion-label position="floating">{{ 'LOGIN.PASSWORD' | translate }}</ion-label>
    <ion-input [(ngModel)]="loginData.password" type="password" required></ion-input>
  </ion-item>

  <ion-item *ngIf="isRegisterMode">
    <ion-label position="floating">{{ 'LOGIN.PASSWORD' | translate }}</ion-label>
    <ion-input [(ngModel)]="registerData.password" type="password" required></ion-input>
  </ion-item>

  <ion-text color="danger" *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </ion-text>

  <ion-button expand="block" color="success" *ngIf="!isRegisterMode" (click)="onLogin()">
    {{ 'LOGIN.LOGIN_BUTTON' | translate }}
  </ion-button>

  <ion-button expand="block" color="success" *ngIf="isRegisterMode" (click)="onRegister()">
    {{ 'LOGIN.REGISTER_BUTTON' | translate }}
  </ion-button>

  <ion-button expand="block" fill="outline" color="success" (click)="toggleMode()">
    {{ isRegisterMode ? ('LOGIN.ALREADY_HAVE_ACCOUNT' | translate) : ('LOGIN.DONT_HAVE_ACCOUNT' | translate) }}
  </ion-button>

  <ion-text color="medium" class="demo-info">
    <p>{{ 'DEMO.INFO' | translate }}</p>
  </ion-text>

</ion-content>